@media(max-width: 992px) {
  .about__achievements {
    & .content__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .about__advantages {
    & .content {
      &__list {
        grid-template-columns: repeat(3, 1fr);

      }
    }
  }

  .about__steps {
    padding-top: 24px;

    border-radius: 20px;
    background-color: #FDFDFF;

    & .content {
      grid-template-columns: 1fr;

      & .content__process {
        grid-row: 2;

        &-image {
          height: auto;
        }
      }

      & .content__steps {
        & .steps__item {
          max-width: 100%;

          flex-direction: column;

          justify-content: start;

          &-number {
            align-self: end;
          }

          &-content {
            max-width: 100%;
          }
        }
      }
    }
  }
}


@media(max-width: 767px) {
  .about__advantages {

    &-wrapper.container {
      padding: 0;
    }

    & .content {
      &__list {
        grid-template-columns: repeat(2, 1fr);

      }
    }
  }
}


@media(max-width: 576px) {
  .about__achievements {

    &-wrapper.container {
      padding: 0;
    }

    & .content__list {
      grid-template-columns: repeat(2, 1fr);

      padding: 24px 15px;

      border-radius: 20px;

      overflow: hidden;

      background-color: #FDFDFF;
    }
  }


}