@media(max-width: 1400px) {
  .about__banner {
    height: auto;

    &-wrapper.container {
      padding: 0;
    }
    & .content {
      grid-template-columns: 1fr;
      grid-template-rows: 320px 312px ;
      gap: 0;

      &__info {
        padding: 20px;

      }

      &__image {
        padding: 8px
      }
    }
  }
}

@media(max-width: 992px) {
  .page__about {
    background-color: #F6F6F8;
  }

  .about__achievements {
    & .content__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .about__advantages {
    & .content {
      &__list {
        grid-template-columns: repeat(3, 1fr);

      }
    }
  }

  .about__steps {
    padding-top: 24px;

    border-radius: 20px;
    background-color: #FDFDFF;

    & .content {
      grid-template-columns: 1fr;

      & .content__process {
        grid-row: 2;

        &-image {
          height: auto;
        }
      }

      & .content__steps {
        & .steps__item {
          max-width: 100%;

          flex-direction: column;

          justify-content: start;

          &-number {
            align-self: end;
          }

          &-content {
            max-width: 100%;
          }
        }
      }
    }
  }

  .about__benefits {
    background-color: #FDFDFF;
    margin-bottom: 10px;

    padding-top: 16px;

    & .content {
      &__list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .about__clients {
    border-radius: 20px;
    background-color: #FDFDFF;

    margin-bottom: 10px;
  }

  .about__brands {
    border-radius: 20px;
    background: #FDFDFF;

    padding-top: 24px;
    padding-bottom: 24px;
  }


  .about__accordions {
    padding-top: 24px;
    padding-bottom: 24px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    background-color: #FDFDFF;
  }
}


@media(max-width: 767px) {
  .about__advantages {

    &-wrapper.container {
      padding: 0;
    }

    & .content {
      &__list {
        grid-template-columns: repeat(2, 1fr);

      }
    }
  }
  .about__benefits {

    & .content {
      &__list {
        grid-template-columns: 1fr;
      }
    }
  }
}


@media(max-width: 576px) {
  .about__achievements {

    &-wrapper.container {
      padding: 0;
    }

    & .content__list {
      grid-template-columns: repeat(2, 1fr);

      padding: 24px 15px;

      border-radius: 20px;

      overflow: hidden;

      background-color: #FDFDFF;
    }
  }


}