@media(max-width: 576px) {
  .banner__slider {
    &-pagination {
      display: flex;
      margin-top: 8px;
    }
  }
}

@media(max-width: 767px) {
  .banner__slider {
    & .swiper {

      & .swiper-slide {

        & .image {

          & img {
            object-fit: cover;
          }
        }
      }
    }


  }
}