@media(max-width: 1400px) {
  .page__cart {
    background-color: #F6F6F6;
  }

  .page__order {
    background-color: #F6F6F6;
  }

  .cart__page {
    & .cart__wrapper {
      background: none;
      padding: 0;
      border-radius: 0;

    }

    & .cart__inner {

      &.container {
        padding: 0;
      }

      & .cart__heading {
        padding: 0 15px;
      }

      & .cart__content {
        grid-template-columns: 1fr;

        &-container {
          padding: 15px;

          & .cart__list {
            gap: 24px;
          }
        }

        &-total {
          background-color: #F6F6F6;

          padding: 8px 8px 0 8px;
          border-radius: 12px 12px 0 0;

          & .total__wrapper {
            padding: 12px;

            border-radius: 12px;

            background-color: #FDFDFF;

            & .heading {
              display: none;
            }
          }
        }


      }
    }
  }

  .order__page {
    & .order__wrapper {
      background: none;
      padding: 0;
      border-radius: 0;

    }

    & .order__inner {
      &.container {
        padding: 0;
      }

      &-heading {
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: row;

        & .back {
          border-radius: 4px;
          justify-content: center;

          background-color: #E7E7EA;

          padding: 0;

          width: 32px;
          height: 32px;

          & span {
            display: none;
          }
        }
      }

      &-content {
        grid-template-columns: 1fr;

        & .left {
          gap: 10px;

          & .item__content {
            padding: 24px 15px;
          }
        }
      }
    }
  }

  .page__success {
    background-color: #F5F5F5;
  }

  .success__page {

    & .success__wrapper {
      border-radius: 0;

      background: none;
      padding-bottom: 30px;

    }

    & .success__inner {

      &.container {
        padding: 0;
      }


      & .success__content {
        gap: 16px;

        padding: 0 16px;
      }
    }
  }

}


@media(max-width: 992px) {
  .cart__page {
    & .cart__inner {
      & .cart__content {
        grid-template-columns: 1fr;

        &-container {
          padding: 15px;
        }

        &-total {
          position: fixed;
          bottom: 60px;
          left: 0;
          right: 0;
        }


      }
    }
  }

  .order__page {
    & .order__inner {

      &-content {

        & .left {
          & .contacts {
            & .fields {
              grid-template-columns: 1fr;

              & .input__wrapper {
                grid-column: auto;
                grid-row: auto;

                &.textarea {
                  grid-column: auto;
                  grid-row: auto;
                }
              }
            }
          }
        }

        & .right {
          position: fixed;
          bottom: 40px;
          right: 0;
          left: 0;

          padding: 24px;

          z-index: 50;
        }
      }
    }
  }
}