@media(max-width: 1400px) {
  .catalog {
    &__content {
      &-list {
        grid-template-columns: repeat(5,1fr);
      }
    }
  }
}


@media(max-width: 992px) {
  .catalog {
    &__content {
      &-list {
        grid-template-columns: repeat(4,1fr);
      }
    }
  }
}


@media(max-width: 767px) {
  .catalog {
    &__content {
      &-list {
        grid-template-columns: repeat(3,1fr);
      }
    }
  }
}


@media(max-width: 576px) {
  .catalog {
    &__content {
      &-list {
        grid-template-columns: repeat(2,1fr);
      }
    }
  }
}