@media(max-width: 1400px) {
  .page__contacts {
    background-color: #F6F6F6;
  }

  .contacts__info {
    & .content {
      &__container {
        grid-template-columns: 1fr;

        & .content__info {
          &-wrapper {
            grid-template-columns: repeat(2, 1fr);

            & .right {
              justify-self: end;
            }
          }
        }

        & .content__map {
          height: clamp(15rem, 14.639rem + 1.6vw, 16.563rem);
        }
      }

    }
  }

  .contacts__sliders {

    padding-top: 24px;
    padding-bottom: 40px;

    background-color: #FDFDFF;


    & .content {
      &__wrapper {
        flex-direction: column;

        & .slider__item {
          width: 100%;

          &-info {
            width: 100%;
            justify-content: space-between;

            gap: 24px;
          }
        }
      }
    }
  }
}


@media(max-width: 992px) {
  .contacts__info {
    &-wrapper.container {
      padding: 0;
    }

    & .content {
      &__heading {
        border-radius: 20px;
        background-color: #FDFDFF;


        padding: 20px 15px;
      }

      &__container {
        border-radius: 20px;

        background-color: #FDFDFF;

        padding: 24px 15px;

      }
    }
  }
}

@media(max-width: 767px) {
  .contacts__info {
    & .content {
      & .content__info {
        &-wrapper {
          grid-template-columns: 1fr;

          & .right {
            justify-self: start;
          }
        }

        &-bottom {
          gap: 8px;
        }
      }
    }
  }
}

@media(max-width: 576px) {
  .contacts__sliders {
    & .content {
      &__wrapper {
        & .slider__item {
          & .info {
            padding: 0  12px 12px;
          }

          & .controls {
            display: none;
          }

          & .swiper-slide {
            & .image {
              border-radius: 16px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}