@media(max-width: 1400px) {

  .page__product {
    background-color: #F6F6F6;
  }

  .product {
    &__wrapper.container {
      padding: 0;

      & .breadcrumbs {
        padding: 0 15px;
      }
    }

    &__content {
      grid-template-columns: 1fr;
      gap: 10px;


    }

    &__sliders {
      width: 100%;
      min-width: 0;

      padding: 0 15px;

    }

    &__info {
      &-purchase {
        display: none;
      }

      &-characteristics {
        display: none;
      }

      &-tip {
        display: none;
      }

      &-delivery {
        background-color: #fdfdff;

        & .delivery__list {
          & .delivery__item {
            background-color: #F6F6F6;
          }
        }

      }

      &-company {
        background-color: #fdfdff;
      }
    }

    &__details.characteristics {
      border-radius: 20px;

      padding: 24px 16px;

      background-color: #fdfdff;

      & .product__details-price {
        display: flex;
      }

      & .product__details-characteristics {
        display: none;
      }
    }

    &__details.variables {
      border-radius: 20px;

      padding: 24px 16px;

      background-color: #fdfdff;


      & .product__details-price {
        display: flex;
      }

      & .product__details-characteristics {
        display: none;
      }
    }

    &__details.similar {

      background-color: #F6F6F6;

      gap: 10px;

      & .product__details-wrapper {
        border-radius: 20px;

        padding: 24px 16px;

        background-color: #fdfdff;

        & .product__details-description {
          display: none;
        }

        & .product__details-price {
          display: flex;
        }
      }


      & .product__details-similar {
        border-radius: 20px;

        padding: 24px 16px;

        background-color: #fdfdff;
      }


    }
  }


  .product__caption {
    &-wrapper {
      border-radius: 20px;

      padding-top: 24px;
      padding-bottom: 24px;
      background-color: #fdfdff;
    }

    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }

  .product__characteristics {
    display: none;
  }
}

@media(max-width: 767px) {

}

@media(max-width: 576px) {

  .product {
    &__content {
      & .product__sliders {

        & .thumbs__slider {
          display: none;
        }

        & .main__slider {
          & .main__slider-button {
            display: none;
          }

          &-pagination {
            display: flex;
          }
        }
      }


    }
  }


  .reviews {
    &__content {
      & .reviews__slider-button {
        display: none;
      }
    }
  }
}