@media(max-width: 576px) {
  .product__card {
    &-content {
      & .price {
        flex-direction: column-reverse;
        align-items: start;
      }

      & .control {
        display: none;
      }
    }
  }
}