@use '../common/variables';


.about__advantages {
  padding-top: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.192rem + 1.92vw, 2.5rem);

  & .content__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: clamp(12.5rem, 11.923rem + 2.56vw, 15rem);
    gap: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  }


}