@use '../common/variables';


.about__achievements {
  padding-top: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.192rem + 1.92vw, 2.5rem);

  & .content__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: clamp(12.5rem, 11.923rem + 2.56vw, 15rem);
    gap: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  }


}

.about__advantages {

  padding-bottom: clamp(0.625rem, 0.192rem + 1.92vw, 2.5rem);

  & .content {
    padding: clamp(0.938rem, 0.577rem + 1.6vw, 2.5rem);
    border-radius: 20px;
    background: linear-gradient(90deg, #9C0228 -21.49%, #820020 63.55%);

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: clamp(12.5rem, 11.346rem + 5.13vw, 17.5rem);
      gap: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);
    }
  }
}

.about__steps {
  padding-bottom: clamp(1.5rem, 1.269rem + 1.03vw, 2.5rem);

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.962rem + 1.28vw, 2.5rem);
  }

  &-heading {
    color: variables.$Black;
    font-family: variables.$FontFamily;
    font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.64px;
  }

  & .content {
    display: grid;
    grid-template-columns: 453px 1fr;
    justify-content: space-between;

    gap: 20px;

    &__process {

      display: flex;
      flex-direction: column;
      gap: 12px;

      &-image {
        width: 100%;
        height: clamp(26.563rem, 24.212rem + 10.45vw, 36.75rem);

        border-radius: 19.6px;
        background-color: #FDFDFF;
        box-shadow: 0 0 11.76px -1.96px rgba(76, 76, 76, 0.20);

        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;

          display: block;

          object-fit: cover;
        }
      }

      &-form {
        width: 100%;

        padding: 20px clamp(1rem, 0.942rem + 0.26vw, 1.25rem);

        border-radius: 20px;

        background: linear-gradient(136deg, #FFBFBF 0%, #FFD8D8 35.13%, #FFEAEA 57.58%, #FFE8E8 73.51%, #FFE7E7 73.52%);

        & .form__content {
          display: flex;
          flex-direction: column;
          gap: 20px;


          & .title {
            color: variables.$Black;
            font-family: variables.$FontFamily;
            font-size: clamp(1.25rem, 1.192rem + 0.26vw, 1.5rem);
            font-style: normal;
            font-weight: 500;
            line-height: 120%;

            & span {
              display: block;
            }
          }

          & .fields {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__wrapper {
              width: 100%;
              height: 54px;

              & input {
                width: 100%;
                height: 100%;

                padding: 16px;

                border-radius: 4px;
                background-color: #FDFDFF;

                color: variables.$Grey;
                font-family: variables.$FontFamily;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;

                &::placeholder {
                  color: variables.$Grey;
                  font-family: variables.$FontFamily;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                }
              }
            }
          }

          & .controls {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & .submit {
              display: flex;
              align-items: center;
              align-self: start;
              justify-content: center;

              color: #FDFDFF;
              font-family: variables.$FontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 110%;
              letter-spacing: -0.32px;

              padding: 12px 40px;

              border-radius: 8px;
              background-color: variables.$Logo;
            }

            & .licenses {
              display: flex;
              align-items: center;
              gap: 8px;

              & input {
                flex-shrink: 0;

                -webkit-appearance: none;
                appearance: none;

                width: 20px;
                height: 20px;

                border-radius: 4px;

                border: 1px solid variables.$Grey;

                background-color: transparent;

                transition: background-color variables.$time ease, border variables.$time ease;

                &:checked {
                  background-color: variables.$Logo;

                  border: 1px solid variables.$Logo;

                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath d='M13.25 0.75L4.5 10.75L0.75 7' stroke='%23FDFDFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  background-position: center;

                }


              }

              & label {
                color: #826B6C;
                font-family: variables.$FontFamily;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                & a {
                  color: variables.$Logo;
                  font-family: variables.$FontFamily;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                }
              }
            }
          }

        }

      }
    }

    &__steps {
      display: flex;
      flex-direction: column;
    }
  }
}

.about__clients {

  padding-top: 20px;
  padding-bottom: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 1.135rem + 0.51vw, 1.75rem);
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {
      color: variables.$Black;
      font-family: variables.$FontFamily;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    & .controls {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 12px;

      & button {
        width: 40px;
        height: 40px;

        border-radius: 8px;

        background-color: variables.$White;

        box-shadow: 0 0 4px 0 rgba(194, 194, 194, 0.40);

        transition: background-color variables.$time ease;

        & svg {
          stroke: #9C0228;

          transition: stroke variables.$time ease;
        }

        &:not(.swiper-button-disabled):hover {
          background-color: variables.$Logo;

          & svg {
            stroke: #FDFDFF;
          }
        }

        &.swiper-button-disabled {
          opacity: 0.6;

          & svg {
            stroke: #FF9EA3;
          }
        }
      }


    }
  }

  &-slider {
    & .clients__slider {
      &-slide {
        height: clamp(8.938rem, 7.538rem + 6.22vw, 15rem);

        border-radius: 12px;

        background-color: #FDFDFF;

        overflow: hidden;

        & .image {
          width: 100%;
          height: 100%;

          & img {
            width: 100%;
            height: 100%;

            display: block;

            object-fit: cover;
          }
        }
      }
    }
  }
}
