@use '../common/variables';

.index__categories {
  padding-top: 10px;
  padding-bottom: 10px;

  &-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: clamp(9.938rem, 9.115rem + 3.65vw, 13.5rem);
    gap: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);


  }
}




