@use '../common/variables';

.index__categories {
  padding-bottom: 10px;
}

.index__categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: clamp(9.938rem, 9.115rem + 3.65vw, 13.5rem);
  gap: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);
}


.index__categories-item {
  position: relative;

  border-radius: 12px;
  background-color: #FDFDFF;
  box-shadow: 0 0 8px 0 rgba(199, 199, 199, 0.40);

  overflow: hidden;

  padding: clamp(0.5rem, 0.327rem + 0.77vw, 1.25rem);

  background-image: url("/src/assets/images/category_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  & .overlay {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

  }

  & .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    & h3 {
      color: #FDFDFF;
      font-family: variables.$FontFamily;
      font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.4px;
    }
  }

  & .tag {
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;

    clip-path: polygon(
                    0 0,
                    80% 0,
                    90% 50%,
                    100% 100%,
                    0 100%
    );

    color: #FDFDFF;
    font-family: variables.$FontFamily;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    padding: 6px clamp(0.5rem, 0.442rem + 0.26vw, 0.75rem);

    background: linear-gradient(90deg, #FC466B 0%, #9C0228 100%);
  }

  &.sale {
    background-image: url("/src/assets/images/sale_bg.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;

    & .heading {
      & h3 {
        color: variables.$Black;

      }
    }

    & .percent {
      position: absolute;
      bottom: 0;
      right: 0;

      width: auto;
      height: clamp(6.688rem, 6.125rem + 2.5vw, 9.125rem);

      object-fit: cover;

      z-index: 1;
    }
  }
}