@use '../common/variables';


.error {
  padding-top: 20px;
  padding-bottom: clamp(0.625rem, -0.096rem + 3.21vw, 3.75rem);

  & .content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.673rem + 2.56vw, 3.75rem);


    & .content__inner {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
      height: 460px;

      & h1 {
        max-width: 690px;
        width: 100%;

        color: variables.$Black;
        font-family: variables.$FontFamily;
        font-size: clamp(1.5rem, 0.981rem + 2.31vw, 3.75rem);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.2px;
      }

      & .navigation {
        max-width: 393px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-self: end;
        gap: 28px;

        &__text {
          color: variables.$Grey;
          font-family: variables.$FontFamily;
          font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
        }

        &__link {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          max-width: 393px;
          width: 100%;
          height: 52px;

          color: #FDFDFF;
          font-family: variables.$FontFamily;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 110%;
          letter-spacing: -0.32px;

          border-radius: 8px;
          background-color: variables.$Logo;
        }
      }

      & .image {
        position: absolute;
        bottom: -60px;
        left: 0;

        width: clamp(22.5rem, 13.673rem + 39.23vw, 60.75rem);
        height: auto;

        z-index: -1;

        & img {
          width: 100%;
          height: 100%;

          display: block;

          object-fit: cover;
        }
      }
    }

  }
}