@use '../common/variables';


.product {

  padding-top: clamp(1.375rem, 1.288rem + 0.38vw, 1.75rem);
  margin-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.375rem, 1.288rem + 0.38vw, 1.75rem);
  }

  & .content {
    display: flex;
    gap: 40px;

    & .product__sliders {

      display: flex;
      gap: 12px;

      & .thumbs__slider {
        width: 80px;

        & .swiper {
          width: 100%;

          & .swiper-slide {
            width: 100%;
            height: 80px;

            background-color: #fdfdff;

            border-radius: 8px;

            border: 1px solid transparent;

            overflow: hidden;

            transition: border variables.$time ease;

            &.swiper-slide-thumb-active {
              border: 1px solid variables.$LightRed;
            }

            & .image {
              width: 100%;
              height: 100%;

              & img {
                width: 100%;
                height: 100%;

                display: block;

                object-fit: cover;
              }
            }
          }
        }
      }

      & .main__slider {
        position: relative;

        width: 480px;
        height: 600px;

        & .swiper {
          width: 100%;
          height: 100%;

          & .swiper-slide {
            width: 100%;
            height: 100%;
            border: 1px solid variables.$LightGrey;

            border-radius: 16px;

            overflow: hidden;

            & .image {
              width: 100%;
              height: 100%;

              & img {
                width: 100%;
                height: 100%;

                display: block;

                object-fit: cover;
              }
            }
          }
        }

        & .main__slider-button {
          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 8px;

          width: 40px;
          height: 40px;

          box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.4);

          background-color: #fdfdff;

          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          z-index: 5;

          transition: opacity variables.$time ease;

          & svg {
            stroke: #9C0228;
          }

          &.main__slider-prev {
            left: 20px;
          }

          &.main__slider-next {
            right: 20px;
          }

          &.swiper-button-disabled {
            opacity: 0.6;
          }
        }

        & .tooltips {
          display: flex;
          align-items: center;
          gap: 4px;


          position: absolute;
          top: 12px;
          left: 12px;

          z-index: 2;

          &__item {
            display: flex;
            align-items: center;
            align-self: start;
            justify-content: center;

            border-radius: 4px;

            padding: 6px 12px;

            color: #fdfdff;
            font-family: variables.$FontFamily;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;

            &.in-stock {
              background-color: variables.$Green;
            }

            &.delivery {
              background-color: variables.$Logo;
            }

          }
        }

        &-pagination {
          display: none;
          flex-direction: column;
          gap: 8px;

          position: absolute;
          bottom: 8px;
          left: 16px;
          right: 16px;


          z-index: 5;

          & .fractions {
            display: flex;
            align-items: center;
            align-self: start;
            justify-content: center;

            font-family: variables.$FontFamily;
            font-weight: 600;
            font-size: 14px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: variables.$Black;

            padding: 8px;

            border-radius: 8px;

            background-color: #fdfdff;
          }

          & .pagination__wrapper {
            display: flex;
            align-items: center;
            gap: 2px;

            border-radius: 4px;


            padding: 2px 4px;

            background: rgba(231, 231, 234, 0.4);

            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);

            & span {
              max-width: 56px;
              width: 100%;
              height: 2px;

              border-radius: 40px;

              background-color: #fdfdff;

              transition: background-color variables.$time ease;

              &.swiper-pagination-bullet-active {
                background-color: variables.$Black;
              }
            }
          }
        }

      }
    }

    & .product__info {
      display: flex;
      flex-direction: column;
      gap: 12px;

      width: 100%;

      & .top {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__description {
          max-width: 413px;
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 20px;

          & h1 {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: variables.$Black;
          }

          & p {
            font-family: variables.$FontFamily;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: variables.$Grey;
          }
        }

        &__cart {
          max-width: 335px;
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 20px;

          padding: 20px;

          border: 1px solid variables.$LightGrey;

          border-radius: 16px;

          background-color: #fdfdff;

          & .price {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: variables.$Black;
          }

          & .pricing__wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & .pricing__inner {
              display: flex;
              align-items: center;
              gap: 8px;

              & .counter {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 120px;
                height: 44px;
                border-radius: 8px;

                background-color: variables.$Back;

                overflow: hidden;

                & button {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: 100%;
                }

                & input {
                  width: 40px;

                  text-align: center;

                  flex: 0 0 auto;

                  color: variables.$Grey;
                  font-family: variables.$FontFamily;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                }


              }

              & .cart {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                border-radius: 8px;

                max-width: 167px;
                width: 100%;
                height: 44px;

                font-family: variables.$FontFamily;
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                letter-spacing: -0.02em;
                color: #fdfdff;

                background-color: variables.$Logo;
              }
            }

            & .note {
              display: flex;
              align-items: center;
              gap: 4px;

              & span {
                font-family: variables.$FontFamily;
                font-weight: 500;
                font-size: 14px;
                line-height: 110%;
                letter-spacing: -0.02em;
                color: variables.$MediumGrey;

                border-bottom: 1px solid variables.$LightGrey;

                padding-bottom: 2px;
              }
            }
          }

        }
      }

      & .middle {
        display: flex;
        gap: clamp(0.625rem, 0.192rem + 1.92vw, 2.5rem);

        & .similar {
          max-width: 413px;
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 18px;

          &__title {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: variables.$Black;
          }

          &__list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & .similar__item {
              display: flex;
              align-items: center;
              gap: 8px;

              & .image {
                border: 1px solid variables.$LightGrey;
                border-radius: 12px;

                width: 72px;
                height: 72px;

                overflow: hidden;

                & img {
                  width: 100%;
                  height: 100%;

                  display: block;

                  object-fit: contain;
                }
              }

              & .text {
                display: flex;
                flex-direction: column;
                gap: 12px;

                & h3 {
                  font-family: variables.$FontFamily;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 100%;
                  color: variables.$Black;
                }

                & span {
                  font-family: variables.$FontFamily;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 120%;
                  letter-spacing: -0.01em;
                  color: variables.$Black;
                }
              }
            }
          }
        }

        & .buybox {
          max-width: 335px;
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 12px;

          &__delivery {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 12px;

            border-radius: 16px;
            padding: 20px;


            background-color: variables.$Back;

            & h3 {
              font-family: variables.$FontFamily;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              color: variables.$Black;
            }

            & .delivery__list {
              display: flex;
              flex-direction: column;
              gap: 4px;

              & .delivery__item {
                display: flex;
                align-items: center;
                gap: 12px;

                border-radius: 12px;

                padding: 8px 12px;

                background-color: #fdfdff;

                & .image {
                  width: 40px;
                  height: 40px;

                  & img, & svg {
                    width: 100%;
                    height: 100%;

                    display: block;

                    object-fit: contain;
                  }
                }

                & .text {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;

                  & h3 {
                    font-family: variables.$FontFamily;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 110%;
                    letter-spacing: -0.02em;
                    color: variables.$Black;
                  }

                  & p {
                    font-family: variables.$FontFamily;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 114%;
                    letter-spacing: -0.01em;
                    color: variables.$MediumGrey;
                  }
                }

                & svg {
                  flex-shrink: 0;
                }
              }
            }
          }

          &__company {
            width: 100%;

            display: flex;
            align-items: center;
            gap: 10px;

            border-radius: 16px;
            padding: 16px;


            background-color: variables.$Back;

            & .image {
              border-radius: 8px;

              padding: 8px;

              width: 80px;
              height: 80px;

              background-color: #fdfdff;

              flex-shrink: 0;

              & img {
                width: 100%;
                height: 100%;

                display: block;

                object-fit: cover;
              }
            }

            & .text {
              display: flex;
              flex-direction: column;
              gap: 8px;

              & h3 {
                font-family: variables.$FontFamily;
                font-weight: 500;
                font-size: 18px;
                line-height: 100%;
                color: variables.$Black;
              }

              & p {
                font-family: variables.$FontFamily;
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: variables.$Grey;
              }
            }

            & svg {
              flex-shrink: 0;
            }
          }
        }
      }
    }

  }
}

.product__caption {
  padding-top: 20px;
  padding-bottom: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &-title {
    font-family: variables.$FontFamily;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: variables.$Black;
  }

  &-desktop {
    & .text__wrapper {
      max-width: 1025px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 12px;

      & .text {
        position: relative;

        max-height: 200px;

        overflow: hidden;

        &::after {
          content: '';

          position: absolute;

          width: 100%;
          height: 100%;

          bottom: 0;
          left: 0;
          right: 0;

          box-shadow: inset 0 -20px 20px -8px #fff;
        }

        & p {
          font-family: variables.$FontFamily;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: variables.$Grey;
        }

        &.active {
          max-height: 2000px;
        }
      }

      & button {
        display: flex;
        align-items: center;
        gap: 4px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }
      }
    }
  }

  &-mobile {
    display: none;

    & .mobile__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .tabs {
        display: flex;
        align-items: center;
        gap: 8px;

        & .tab {
          display: flex;
          align-items: center;
          justify-content: center;

          max-width: 160px;
          width: 100%;
          height: 40px;

          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: variables.$Black;

          border: 1px solid variables.$LightGrey;
          border-radius: 8px;

          transition: border variables.$time ease;

          &.active {
            border: 1px solid variables.$Black;
          }
        }
      }

      & .content {
        display: none;

        &.tab__description {
          & .text__wrapper {
            max-width: 1025px;
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 12px;

            & .text {
              position: relative;

              max-height: 200px;

              overflow: hidden;

              &::after {
                content: '';

                position: absolute;

                width: 100%;
                height: 100%;

                bottom: 0;
                left: 0;
                right: 0;

                box-shadow: inset 0 -20px 20px -8px #fff;
              }

              & p {
                font-family: variables.$FontFamily;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: variables.$Grey;
              }

              &.active {
                max-height: 2000px;
              }
            }

            & button {
              display: flex;
              align-items: center;
              gap: 4px;

              & span {
                font-family: variables.$FontFamily;
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                letter-spacing: -0.02em;
                color: variables.$Black;

                padding-bottom: 2px;

                border-bottom: 1px solid variables.$MediumGrey;
              }
            }
          }
        }

        &.tab__characteristics {
          flex-direction: column;

          & .characteristics__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 12px 0;

            border-bottom: 1px solid variables.$LightGrey;

            &:first-child {
              border-top: 1px solid variables.$LightGrey;

            }

            &:not(:first-child) {
              border-bottom: 1px solid variables.$LightGrey;

            }


            &-name {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 14px;
              line-height: 114%;
              letter-spacing: -0.01em;
              color: variables.$Grey;
            }

            &-value {
              font-family: variables.$FontFamily;
              font-weight: 700;
              font-size: 14px;
              line-height: 114%;
              letter-spacing: -0.01em;
              color: variables.$Black;
            }
          }
        }

        &.active {
          display: flex;
        }
      }
    }


  }
}

.product__characteristics {

  padding-top: 20px;
  padding-bottom: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  & .title {
    font-family: variables.$FontFamily;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: variables.$Black;
  }


  & .characteristics__list {
    display: flex;
    flex-direction: column;

    & .characteristics__item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 12px 0;

      border-bottom: 1px solid variables.$LightGrey;

      &:first-child {
        border-top: 1px solid variables.$LightGrey;

      }

      &:not(:first-child) {
        border-bottom: 1px solid variables.$LightGrey;

      }


      &-name {
        font-family: variables.$FontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.01em;
        color: variables.$Grey;
      }

      &-value {
        font-family: variables.$FontFamily;
        font-weight: 700;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.01em;
        color: variables.$Black;
      }
    }
  }
}

.related {
  padding-top: clamp(0rem, -0.288rem + 1.28vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  & .content {
    & .title {
      color: variables.$Black;
      font-family: variables.$FontFamily;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    &__wrapper {
      position: relative;

      & .slider__button-prev, & .slider__button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background-color: #FDFDFF;
        box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.40);

        z-index: 4;

        transition: opacity variables.$time ease, background-color variables.$time ease;


        & svg {
          stroke: #9C0228;
        }

        &:not(.swiper-button-disabled):hover {
          background-color: variables.$Logo;

          & svg {
            stroke: #FDFDFF;
          }

        }

        &.swiper-button-disabled {
          opacity: 0.6;
        }


      }

      & .slider__button-prev {
        left: -20px;
      }

      & .slider__button-next {
        right: -20px;
      }


      & .related__slider {
        &-slide {
          position: relative;

          padding-top: 28px;
          padding-bottom: 20px;
        }
      }
    }

  }
}

.recently {
  padding-top: clamp(0rem, -0.288rem + 1.28vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  & .content {
    & .title {
      color: variables.$Black;
      font-family: variables.$FontFamily;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    &__wrapper {
      position: relative;

      & .slider__button-prev, & .slider__button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background-color: #FDFDFF;
        box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.40);

        z-index: 4;

        transition: opacity variables.$time ease, background-color variables.$time ease;


        & svg {
          stroke: #9C0228;
        }

        &:not(.swiper-button-disabled):hover {
          background-color: variables.$Logo;

          & svg {
            stroke: #FDFDFF;
          }

        }

        &.swiper-button-disabled {
          opacity: 0.6;
        }


      }

      & .slider__button-prev {
        left: -20px;
      }

      & .slider__button-next {
        right: -20px;
      }


      & .recently__slider {
        &-slide {
          position: relative;

          padding-top: 28px;
          padding-bottom: 20px;
        }
      }
    }

  }
}

.reviews {

  padding-top: 20px;
  padding-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {
      font-family: variables.$FontFamily;
      font-weight: 500;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      line-height: 110%;
      letter-spacing: -0.02em;
      color: variables.$Black;
    }

    & .link {
      display: flex;
      align-items: center;
      gap: 4px;

      & span {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: variables.$Black;

        border-bottom: 1px solid variables.$MediumGrey;

        padding-bottom: 2px;
      }
    }
  }

  &__content {
    position: relative;

    & .reviews__slider-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.4);
      background: #fdfdff;

      z-index: 5;

      &.prev {
        left: -20px;
      }

      &.next {
        right: -20px;
      }

      & svg {
        stroke: #9C0228;

        transition: stroke variables.$time ease;
      }

      &.swiper-button-disabled {
        & svg {
          stroke: #FF9EA3;
        }
      }

    }

    & .reviews__slider {

      & .reviews__card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border: 1px solid variables.$Line;

        border-radius: 12px;

        padding: 20px;

        background-color: #fdfdff;

        &-avatar {
          display: flex;
          gap: 12px;

          & .image {
            width: 48px;
            height: 48px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 4px;
            padding: 14px;

            background-color: variables.$Back;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: cover;
            }
          }

          & .info {
            display: flex;
            flex-direction: column;
            gap: 2px;

            & .avatar__name {
              font-family: variables.$FontFamily;
              font-weight: 500;
              font-size: clamp(1.125rem, 1.096rem + 0.13vw, 1.25rem);
              line-height: 120%;
              letter-spacing: -0.02em;
              color: variables.$Black;
            }

            & .avatar__date {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: variables.$MediumGrey;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 4px;

          & .text__wrapper {
            position: relative;

            height: 120px;

            overflow: hidden;

            &::after {
              content: '';

              position: absolute;

              width: 100%;
              height: 100%;

              bottom: 0;
              left: 0;
              right: 0;

              box-shadow: inset 0 -20px 20px -8px #fff;
            }

            & p {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: variables.$Grey;
            }

            &.active {
              height: auto;
            }
          }

          & .more {
            display: flex;
            align-items: center;
            gap: 4px;

            & span {
              font-family: variables.$FontFamily;
              font-weight: 500;
              font-size: 16px;
              line-height: 110%;
              letter-spacing: -0.02em;
              color: variables.$Black;

              border-bottom: 1px solid variables.$MediumGrey;

              padding-bottom: 2px;
            }
          }
        }

        &-images {
          & .images__slider {
            & .swiper-slide {
              border-radius: 4px;

              width: 100%;
              height: 100px;

              overflow: hidden;

              & .image {
                width: 100%;
                height: 100%;

                & img {
                  width: 100%;
                  height: 100%;

                  display: block;

                  object-fit: cover;
                }
              }
            }
          }
        }

        transition: box-shadow variables.$time ease;

        &:hover {
          box-shadow: 0 0 12px 0 rgba(194, 194, 194, 0.4);

        }
      }
    }
  }
}


