@use '../common/variables';


.product {

  padding-top: clamp(1.375rem, 1.288rem + 0.38vw, 1.75rem);
  margin-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.375rem, 1.288rem + 0.38vw, 1.75rem);
  }

  &__content {
    display: grid;
    grid-template-columns: 572px 413px 335px;
    justify-content: space-between;
  }

  &__sliders {
    width: 100%;

    display: flex;
    gap: 12px;

    & .thumbs__slider {
      width: 80px;
      flex-shrink: 0;

      & .swiper {
        width: 100%;

        & .swiper-slide {
          width: 100%;
          height: 80px;

          border-radius: 8px;

          background: #fdfdff;

          border: 1px solid transparent;

          overflow: hidden;

          transition: border variables.$time ease;

          &.swiper-slide-thumb-active {
            border: 1px solid variables.$LightRed;
          }


          & .image {
            width: 100%;
            height: 100%;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: cover;
            }
          }
        }
      }
    }

    & .main__slider {
      position: relative;

      flex: 1;

      min-width: 0;
      height: clamp(22.5rem, 19.038rem + 15.38vw, 37.5rem);

      border-radius: 16px;

      overflow: hidden;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;

        width: 40px;
        height: 40px;

        box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.4);

        background-color: #fdfdff;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        z-index: 5;

        transition: opacity variables.$time ease;

        & svg {
          stroke: #9C0228;
        }

        &.main__slider-prev {
          left: 20px;
        }

        &.main__slider-next {
          right: 20px;
        }

        &.swiper-button-disabled {
          opacity: 0.6;
        }
      }

      &-pagination {
        display: none;
        flex-direction: column;
        gap: 8px;

        position: absolute;
        bottom: 8px;
        left: 16px;
        right: 16px;


        z-index: 5;

        & .fractions {
          display: flex;
          align-items: center;
          align-self: start;
          justify-content: center;

          font-family: variables.$FontFamily;
          font-weight: 600;
          font-size: 14px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;

          padding: 8px;

          border-radius: 8px;

          background-color: #fdfdff;
        }

        & .pagination__wrapper {
          display: flex;
          align-items: center;
          gap: 2px;

          border-radius: 4px;


          padding: 2px 4px;

          background: rgba(231, 231, 234, 0.4);

          backdrop-filter: blur(6px);
          -webkit-backdrop-filter: blur(6px);

          & span {
            max-width: 56px;
            width: 100%;
            height: 2px;

            border-radius: 40px;

            background-color: #fdfdff;

            transition: background-color variables.$time ease;

            &.swiper-pagination-bullet-active {
              background-color: variables.$Black;
            }
          }
        }
      }

      &-tooltips {
        display: flex;
        align-items: center;
        gap: 4px;


        position: absolute;
        top: 12px;
        left: 12px;

        z-index: 2;

        & .tooltips__item {
          display: flex;
          align-items: center;
          align-self: start;
          justify-content: center;

          border-radius: 4px;

          padding: 6px 12px;

          color: #fdfdff;
          font-family: variables.$FontFamily;
          font-weight: 600;
          font-size: 12px;
          line-height: 120%;

          &.in-stock {
            background-color: variables.$Green;
          }

          &.delivery {
            background-color: variables.$Logo;
          }

        }
      }

      & .swiper {
        width: 100%;
        height: 100%;

        & .swiper-slide {
          width: 100%;
          height: 100%;
          border: 1px solid variables.$LightGrey;

          border-radius: 16px;

          overflow: hidden;

          & .image {
            width: 100%;
            height: 100%;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: cover;
            }
          }
        }
      }
    }

  }

  &__details.characteristics {
    display: flex;
    flex-direction: column;
    gap: clamp(1.75rem, 1.577rem + 0.77vw, 2.5rem);

    & .product__details-title {
      font-family: variables.$FontFamily;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: variables.$Black;
    }

    & .product__details-characteristics {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & h2 {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: variables.$Black;
      }

      & .characteristics__list {
        display: flex;
        flex-direction: column;

        & .characteristics__item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: 12px 0;

          border-bottom: 1px solid variables.$LightGrey;

          &:first-child {
            border-top: 1px solid variables.$LightGrey;

          }

          &:not(:first-child) {
            border-bottom: 1px solid variables.$LightGrey;

          }

          & .name {
            font-family: variables.$FontFamily;
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: -0.01em;
            color: variables.$Grey;
          }

          & .value {
            font-family: variables.$FontFamily;
            font-weight: 700;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: -0.01em;
            color: variables.$Black;
          }
        }
      }

      & a {
        display: flex;
        align-items: center;
        gap: 4px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }
      }
    }

    & .product__details-price {
      display: none;
      flex-direction: column;
      gap: 12px;

      & .details__price {
        display: flex;
        align-items: center;
        gap: 8px;

        & .current {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: variables.$Black;
        }

        & .old {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          text-decoration: line-through;
          color: variables.$MediumGrey;
        }

        & .sale {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 4px 8px;

          font-family: variables.$FontFamily;
          font-weight: 600;
          font-size: 12px;
          line-height: 120%;
          color: variables.$Logo;

          border-radius: 4px;

          background-color: variables.$RedTag;
        }
      }

      & .price__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fdfdff;

        background-color: variables.$Logo;

        width: 100%;
        height: 44px;

        border-radius: 8px;
      }

      & .details__note {
        position: relative;

        display: flex;
        align-items: center;
        align-self: start;
        gap: 8px;

        &-title {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 14px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$MediumGrey;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }

        &-tooltip {
          position: absolute;
          bottom: calc(100% + 12px);
          left: 80%;
          transform: translateX(-50%);

          border-radius: 8px;

          padding: 16px;

          background: rgba(42, 42, 42, 0.6);

          backdrop-filter: blur(44px);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 6px 6px -6px rgba(0, 0, 0, 0.16);

          font-family: variables.$FontFamily;
          font-weight: 400;
          font-size: 12px;
          line-height: 120%;
          letter-spacing: -0.01em;
          color: #fdfdff;

          width: clamp(15.125rem, 13.885rem + 5.51vw, 20.5rem);


          z-index: 10;

          opacity: 0;
          visibility: hidden;

          transition: opacity variables.$time ease;
        }

        &-arrow {
          position: absolute;
          bottom: -6px;
          left: 15%;
          transform: translateX(-50%);

          width: 0;
          height: 0;

          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid rgba(42, 42, 42, 0.6);
        }

        &:hover {
          & .details__note-tooltip {
            opacity: 1;
            visibility: visible;
          }
        }

      }


    }
  }

  &__details.variables {
    display: flex;
    flex-direction: column;
    gap: clamp(1.75rem, 1.577rem + 0.77vw, 2.5rem);


    & .product__details-products {
      display: flex;
      flex-direction: column;
      gap: 12px;

      & .color {
        display: flex;
        align-items: center;
        gap: 8px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: variables.$Black;
        }

        font-family: variables.$FontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: variables.$Black;
      }

      & .details__products-list {
        display: flex;
        align-items: center;
        gap: 8px;

        overflow-x: auto;

        width: 100%;

        padding: 3px 3px 6px 3px;

        & .details__products-item {
          width: clamp(4.75rem, 4.447rem + 1.35vw, 6.063rem);
          height: clamp(4.75rem, 4.447rem + 1.35vw, 6.063rem);

          flex-shrink: 0;

          border-radius: 12px;

          background-color: variables.$Back;

          overflow: hidden;

          & .image {
            width: 100%;
            height: 100%;

            display: block;

            overflow: hidden;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: cover;
            }
          }

          &.active {
            border: 1px solid variables.$LightRed;
            box-shadow: 0 0 0 3px #ffe2e3;

          }
        }

      }
    }

    & .product__details-characteristics {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & h2 {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: variables.$Black;
      }

      & .characteristics__list {
        display: flex;
        flex-direction: column;

        & .characteristics__item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: 12px 0;

          border-bottom: 1px solid variables.$LightGrey;

          &:first-child {
            border-top: 1px solid variables.$LightGrey;

          }

          &:not(:first-child) {
            border-bottom: 1px solid variables.$LightGrey;

          }

          & .name {
            font-family: variables.$FontFamily;
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: -0.01em;
            color: variables.$Grey;
          }

          & .value {
            font-family: variables.$FontFamily;
            font-weight: 700;
            font-size: 14px;
            line-height: 114%;
            letter-spacing: -0.01em;
            color: variables.$Black;
          }
        }
      }

      & a {
        display: flex;
        align-items: center;
        gap: 4px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }
      }
    }

    & .product__details-price {
      display: none;
      flex-direction: column;
      gap: 12px;

      & .details__price {
        display: flex;
        align-items: center;
        gap: 8px;

        & .current {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: variables.$Black;
        }

        & .old {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          text-decoration: line-through;
          color: variables.$MediumGrey;
        }

        & .sale {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 4px 8px;

          font-family: variables.$FontFamily;
          font-weight: 600;
          font-size: 12px;
          line-height: 120%;
          color: variables.$Logo;

          border-radius: 4px;

          background-color: variables.$RedTag;
        }
      }

      & .price__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fdfdff;

        background-color: variables.$Logo;

        width: 100%;
        height: 44px;

        border-radius: 8px;
      }

      & .details__note {
        display: flex;
        align-items: center;
        gap: 8px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 14px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$MediumGrey;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }
      }


    }
  }

  &__details.similar {
    display: flex;
    flex-direction: column;
    gap: clamp(1.75rem, 1.577rem + 0.77vw, 2.5rem);

    & .product__details-wrapper {
      display: flex;
      flex-direction: column;
      gap: clamp(1.75rem, 1.577rem + 0.77vw, 2.5rem);

      & .product__details-title {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: variables.$Black;
      }

      & .product__details-description {
        font-family: variables.$FontFamily;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: variables.$Grey;
      }

      & .product__details-price {
        display: none;
        flex-direction: column;
        gap: 12px;

        & .details__price {
          display: flex;
          align-items: center;
          gap: 8px;

          & .current {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: variables.$Black;
          }

          & .old {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-decoration: line-through;
            color: variables.$MediumGrey;
          }

          & .sale {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 4px 8px;

            font-family: variables.$FontFamily;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            color: variables.$Logo;

            border-radius: 4px;

            background-color: variables.$RedTag;
          }
        }

        & .price__button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 14px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: #fdfdff;

          background-color: variables.$Logo;

          width: 100%;
          height: 44px;

          border-radius: 8px;
        }

        & .details__note {
          display: flex;
          align-items: center;
          gap: 8px;

          & span {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 14px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: variables.$MediumGrey;

            padding-bottom: 2px;

            border-bottom: 1px solid variables.$MediumGrey;
          }
        }


      }
    }


    & .product__details-similar {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .similar__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & .similar__item {
          display: flex;
          align-items: center;
          gap: 8px;

          & .image {
            width: 72px;
            height: 72px;

            border: 1px solid variables.$LightGrey;

            border-radius: 12px;

            overflow: hidden;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: contain;
            }
          }

          & .text {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & h3 {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: variables.$Black;
            }

            & span {
              font-family: variables.$FontFamily;
              font-weight: 600;
              font-size: 20px;
              line-height: 120%;
              letter-spacing: -0.01em;
              color: variables.$Black;
            }
          }
        }
      }
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-purchase {
      width: 100%;

      border: 1px solid variables.$LightGrey;

      border-radius: 16px;

      padding: 20px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      & .price {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & .current {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 32px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;
        }

        &__wrapper {
          display: flex;
          align-items: center;
          gap: 8px;

          & .old {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-decoration: line-through;
            color: variables.$MediumGrey;
          }

          & .sale {
            font-family: variables.$FontFamily;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            color: variables.$Logo;

            padding: 4px 8px;

            border-radius: 4px;

            background-color: variables.$RedTag;
          }
        }
      }

      & .purchase__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & .purchase__inner {
          display: flex;
          align-items: center;
          gap: 8px;


          & .counter {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 120px;
            height: 44px;
            border-radius: 8px;

            background-color: variables.$Back;

            overflow: hidden;

            & button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
            }

            & input {
              width: 40px;

              text-align: center;

              flex: 0 0 auto;

              color: variables.$Grey;
              font-family: variables.$FontFamily;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
            }


          }

          & .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            border-radius: 8px;

            max-width: 167px;
            width: 100%;
            height: 44px;

            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: #fdfdff;

            background-color: variables.$Logo;
          }
        }

        & .note {
          position: relative;

          display: flex;
          align-items: center;
          align-self: start;
          gap: 4px;

          cursor: pointer;

          &__title {
            font-family: variables.$FontFamily;
            font-weight: 500;
            font-size: 14px;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: variables.$MediumGrey;

            border-bottom: 1px solid variables.$LightGrey;

            padding-bottom: 2px;
          }

          &__tooltip {
            position: absolute;
            bottom: calc(100% + 12px);
            left: 50%;
            transform: translateX(-50%);

            border-radius: 8px;

            padding: 16px;

            background: rgba(42, 42, 42, 0.6);

            backdrop-filter: blur(44px);
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 6px 6px -6px rgba(0, 0, 0, 0.16);

            font-family: variables.$FontFamily;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: #fdfdff;

            width: clamp(15.125rem, 13.885rem + 5.51vw, 20.5rem);


            z-index: 10;

            &-arrow {
              position: absolute;
              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);

              width: 0;
              height: 0;

              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid rgba(42, 42, 42, 0.6);
            }

            opacity: 0;
            visibility: hidden;

            transition: opacity variables.$time ease;
          }


          &:hover {
            & .note__tooltip {
              opacity: 1;
              visibility: visible;
            }
          }


        }
      }
    }

    &-tip {
      width: 100%;

      font-family: variables.$FontFamily;
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: -0.01em;
      color: variables.$Logo;
    }

    &-characteristics {
      display: flex;
      align-items: center;
      gap: 12px;

      border-radius: 16px;

      padding: 16px;

      background-color: variables.$Back;

      & svg {
        flex-shrink: 0;
      }

      & .characteristics__list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        & .characteristics__item {
          display: flex;
          align-items: center;
          gap: 4px;

          font-family: variables.$FontFamily;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: variables.$Grey;

          & span {
            font-family: variables.$FontFamily;
            font-weight: 700;
            font-size: 12px;
            line-height: 140%;
            color: variables.$Black;
          }
        }
      }
    }

    &-delivery {
      display: flex;
      flex-direction: column;
      gap: 16px;

      border-radius: 16px;

      padding: 20px;

      background-color: variables.$Back;

      & .title {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: variables.$Black;
      }

      & .delivery__list {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & .delivery__item {
          display: flex;
          align-items: center;
          gap: 12px;

          border-radius: 12px;
          padding: 8px 12px;

          background-color: #fdfdff;

          transition: box-shadow variables.$time ease;

          &:hover {
            box-shadow: 0 0 20px 0 rgba(200, 202, 214, 0.4);
          }

          & svg {
            flex-shrink: 0;
          }

          & .image {
            width: 40px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            & svg, & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: contain;
            }
          }

          & .text {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & h4 {
              font-family: variables.$FontFamily;
              font-weight: 600;
              font-size: 14px;
              line-height: 110%;
              letter-spacing: -0.02em;
              color: variables.$Black;
            }

            & p {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 14px;
              line-height: 114%;
              letter-spacing: -0.01em;
              color: variables.$MediumGrey;
            }
          }
        }

      }
    }

    &-company {
      display: flex;
      align-items: center;
      gap: 12px;

      border-radius: 12px;

      padding: 16px;

      background-color: variables.$Back;


      & svg {
        flex-shrink: 0;
      }

      & .image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;


        border-radius: 8px;

        padding: 8px;

        width: 80px;
        height: 80px;


        background-color: #fdfdff;

        & img {
          width: 100%;
          height: 100%;

          display: block;

          object-fit: contain;
        }
      }

      & .text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & h4 {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 18px;
          line-height: 100%;
          color: variables.$Black;
        }

        & p {
          font-family: variables.$FontFamily;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: variables.$Grey;
        }
      }
    }
  }
}


//.product {
//  & .content {
//
//
//    & .product__info {
//      display: flex;
//      flex-direction: column;
//      gap: 12px;
//
//      width: 100%;
//
//      & .top {
//        display: flex;
//        justify-content: space-between;
//        width: 100%;
//
//        &__description {
//          max-width: 413px;
//          width: 100%;
//
//          display: flex;
//          flex-direction: column;
//          gap: 20px;
//
//          & h1 {
//            font-family: variables.$FontFamily;
//            font-weight: 500;
//            font-size: 24px;
//            line-height: 120%;
//            color: variables.$Black;
//          }
//
//          & p {
//            font-family: variables.$FontFamily;
//            font-weight: 400;
//            font-size: 16px;
//            line-height: 140%;
//            color: variables.$Grey;
//          }
//        }
//
//        &__cart {
//          max-width: 335px;
//          width: 100%;
//
//          display: flex;
//          flex-direction: column;
//          gap: 20px;
//
//          padding: 20px;
//
//          border: 1px solid variables.$LightGrey;
//
//          border-radius: 16px;
//
//          background-color: #fdfdff;
//
//          & .price {
//            font-family: variables.$FontFamily;
//            font-weight: 500;
//            font-size: 24px;
//            line-height: 120%;
//            color: variables.$Black;
//          }
//
//          & .pricing__wrapper {
//            display: flex;
//            flex-direction: column;
//            gap: 12px;
//
//            & .pricing__inner {
//              display: flex;
//              align-items: center;
//              gap: 8px;
//
//              & .counter {

//              }
//
//              & .cart {

//              }
//            }
//
//            & .note {

//            }
//          }
//
//        }
//      }
//
//      & .middle {
//        display: flex;
//        gap: clamp(0.625rem, 0.192rem + 1.92vw, 2.5rem);
//
//        & .similar {
//          max-width: 413px;
//          width: 100%;
//
//          display: flex;
//          flex-direction: column;
//          gap: 18px;
//
//          &__title {
//            font-family: variables.$FontFamily;
//            font-weight: 500;
//            font-size: 20px;
//            line-height: 120%;
//            letter-spacing: -0.02em;
//            color: variables.$Black;
//          }
//
//          &__list {
//            display: flex;
//            flex-direction: column;
//            gap: 12px;
//
//            & .similar__item {
//              display: flex;
//              align-items: center;
//              gap: 8px;
//
//              & .image {
//                border: 1px solid variables.$LightGrey;
//                border-radius: 12px;
//
//                width: 72px;
//                height: 72px;
//
//                overflow: hidden;
//
//                & img {
//                  width: 100%;
//                  height: 100%;
//
//                  display: block;
//
//                  object-fit: contain;
//                }
//              }
//
//              & .text {
//                display: flex;
//                flex-direction: column;
//                gap: 12px;
//
//                & h3 {
//                  font-family: variables.$FontFamily;
//                  font-weight: 400;
//                  font-size: 16px;
//                  line-height: 100%;
//                  color: variables.$Black;
//                }
//
//                & span {
//                  font-family: variables.$FontFamily;
//                  font-weight: 600;
//                  font-size: 20px;
//                  line-height: 120%;
//                  letter-spacing: -0.01em;
//                  color: variables.$Black;
//                }
//              }
//            }
//          }
//        }
//
//        & .buybox {
//          max-width: 335px;
//          width: 100%;
//
//          display: flex;
//          flex-direction: column;
//          gap: 12px;
//
//          &__delivery {
//            width: 100%;
//
//            display: flex;
//            flex-direction: column;
//            gap: 12px;
//
//            border-radius: 16px;
//            padding: 20px;
//
//
//            background-color: variables.$Back;
//
//            & h3 {
//              font-family: variables.$FontFamily;
//              font-weight: 500;
//              font-size: 16px;
//              line-height: 100%;
//              color: variables.$Black;
//            }
//
//            & .delivery__list {
//              display: flex;
//              flex-direction: column;
//              gap: 4px;
//
//              & .delivery__item {
//                display: flex;
//                align-items: center;
//                gap: 12px;
//
//                border-radius: 12px;
//
//                padding: 8px 12px;
//
//                background-color: #fdfdff;
//
//                & .image {
//                  width: 40px;
//                  height: 40px;
//
//                  & img, & svg {
//                    width: 100%;
//                    height: 100%;
//
//                    display: block;
//
//                    object-fit: contain;
//                  }
//                }
//
//                & .text {
//                  display: flex;
//                  flex-direction: column;
//                  gap: 4px;
//
//                  & h3 {
//                    font-family: variables.$FontFamily;
//                    font-weight: 600;
//                    font-size: 14px;
//                    line-height: 110%;
//                    letter-spacing: -0.02em;
//                    color: variables.$Black;
//                  }
//
//                  & p {
//                    font-family: variables.$FontFamily;
//                    font-weight: 400;
//                    font-size: 14px;
//                    line-height: 114%;
//                    letter-spacing: -0.01em;
//                    color: variables.$MediumGrey;
//                  }
//                }
//
//                & svg {
//                  flex-shrink: 0;
//                }
//              }
//            }
//          }
//
//          &__company {
//            width: 100%;
//
//            display: flex;
//            align-items: center;
//            gap: 10px;
//
//            border-radius: 16px;
//            padding: 16px;
//
//
//            background-color: variables.$Back;
//
//            & .image {
//              border-radius: 8px;
//
//              padding: 8px;
//
//              width: 80px;
//              height: 80px;
//
//              background-color: #fdfdff;
//
//              flex-shrink: 0;
//
//              & img {
//                width: 100%;
//                height: 100%;
//
//                display: block;
//
//                object-fit: cover;
//              }
//            }
//
//            & .text {
//              display: flex;
//              flex-direction: column;
//              gap: 8px;
//
//              & h3 {
//                font-family: variables.$FontFamily;
//                font-weight: 500;
//                font-size: 18px;
//                line-height: 100%;
//                color: variables.$Black;
//              }
//
//              & p {
//                font-family: variables.$FontFamily;
//                font-weight: 400;
//                font-size: 12px;
//                line-height: 140%;
//                color: variables.$Grey;
//              }
//            }
//
//            & svg {
//              flex-shrink: 0;
//            }
//          }
//        }
//      }
//    }
//
//  }
//}

.product__caption {
  padding-top: 20px;
  padding-bottom: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &-title {
    font-family: variables.$FontFamily;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
    line-height: 110%;
    letter-spacing: -0.02em;
    color: variables.$Black;
  }

  &-desktop {
    & .text__wrapper {
      max-width: 1025px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 12px;

      & .text {
        position: relative;

        max-height: 200px;

        overflow: hidden;

        &::after {
          content: '';

          position: absolute;

          width: 100%;
          height: 100%;

          bottom: 0;
          left: 0;
          right: 0;

          box-shadow: inset 0 -20px 20px -8px #fff;
        }

        & p {
          font-family: variables.$FontFamily;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: variables.$Grey;
        }

        &.active {
          max-height: 2000px;
        }
      }

      & button {
        display: flex;
        align-items: center;
        gap: 4px;

        & span {
          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: variables.$Black;

          padding-bottom: 2px;

          border-bottom: 1px solid variables.$MediumGrey;
        }
      }
    }
  }

  &-mobile {
    display: none;

    & .mobile__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .tabs {
        display: flex;
        align-items: center;
        gap: 8px;

        & .tab {
          display: flex;
          align-items: center;
          justify-content: center;

          max-width: 160px;
          width: 100%;
          height: 40px;

          font-family: variables.$FontFamily;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: variables.$Black;

          border: 1px solid variables.$LightGrey;
          border-radius: 8px;

          transition: border variables.$time ease;

          &.active {
            border: 1px solid variables.$Black;
          }
        }
      }

      & .content {
        display: none;

        &.tab__description {
          & .text__wrapper {
            max-width: 1025px;
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 12px;

            & .text {
              position: relative;

              max-height: 200px;

              overflow: hidden;

              &::after {
                content: '';

                position: absolute;

                width: 100%;
                height: 100%;

                bottom: 0;
                left: 0;
                right: 0;

                box-shadow: inset 0 -20px 20px -8px #fff;
              }

              & p {
                font-family: variables.$FontFamily;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: variables.$Grey;
              }

              &.active {
                max-height: 2000px;
              }
            }

            & button {
              display: flex;
              align-items: center;
              gap: 4px;

              & span {
                font-family: variables.$FontFamily;
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                letter-spacing: -0.02em;
                color: variables.$Black;

                padding-bottom: 2px;

                border-bottom: 1px solid variables.$MediumGrey;
              }
            }
          }
        }

        &.tab__characteristics {
          flex-direction: column;

          & .characteristics__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 12px 0;

            border-bottom: 1px solid variables.$LightGrey;

            &:first-child {
              border-top: 1px solid variables.$LightGrey;

            }

            &:not(:first-child) {
              border-bottom: 1px solid variables.$LightGrey;

            }


            &-name {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 14px;
              line-height: 114%;
              letter-spacing: -0.01em;
              color: variables.$Grey;
            }

            &-value {
              font-family: variables.$FontFamily;
              font-weight: 700;
              font-size: 14px;
              line-height: 114%;
              letter-spacing: -0.01em;
              color: variables.$Black;
            }
          }
        }

        &.active {
          display: flex;
        }
      }
    }


  }
}

.product__characteristics {

  padding-top: 20px;
  padding-bottom: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  & .title {
    font-family: variables.$FontFamily;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: variables.$Black;
  }


  & .characteristics__list {
    display: flex;
    flex-direction: column;

    & .characteristics__item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 12px 0;

      border-bottom: 1px solid variables.$LightGrey;

      &:first-child {
        border-top: 1px solid variables.$LightGrey;

      }

      &:not(:first-child) {
        border-bottom: 1px solid variables.$LightGrey;

      }


      &-name {
        font-family: variables.$FontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.01em;
        color: variables.$Grey;
      }

      &-value {
        font-family: variables.$FontFamily;
        font-weight: 700;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.01em;
        color: variables.$Black;
      }
    }
  }
}

.related {
  padding-top: clamp(0rem, -0.288rem + 1.28vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  & .content {
    & .title {
      color: variables.$Black;
      font-family: variables.$FontFamily;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    &__wrapper {
      position: relative;

      & .slider__button-prev, & .slider__button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background-color: #FDFDFF;
        box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.40);

        z-index: 4;

        transition: opacity variables.$time ease, background-color variables.$time ease;


        & svg {
          stroke: #9C0228;
        }

        &:not(.swiper-button-disabled):hover {
          background-color: variables.$Logo;

          & svg {
            stroke: #FDFDFF;
          }

        }

        &.swiper-button-disabled {
          opacity: 0.6;
        }


      }

      & .slider__button-prev {
        left: -20px;
      }

      & .slider__button-next {
        right: -20px;
      }


      & .related__slider {
        &-slide {
          position: relative;

          padding-top: 28px;
          padding-bottom: 20px;
        }
      }
    }

  }
}

.recently {
  padding-top: clamp(0rem, -0.288rem + 1.28vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 0.481rem + 0.64vw, 1.25rem);

  & .content {
    & .title {
      color: variables.$Black;
      font-family: variables.$FontFamily;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    &__wrapper {
      position: relative;

      & .slider__button-prev, & .slider__button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background-color: #FDFDFF;
        box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.40);

        z-index: 4;

        transition: opacity variables.$time ease, background-color variables.$time ease;


        & svg {
          stroke: #9C0228;
        }

        &:not(.swiper-button-disabled):hover {
          background-color: variables.$Logo;

          & svg {
            stroke: #FDFDFF;
          }

        }

        &.swiper-button-disabled {
          opacity: 0.6;
        }


      }

      & .slider__button-prev {
        left: -20px;
      }

      & .slider__button-next {
        right: -20px;
      }


      & .recently__slider {
        &-slide {
          position: relative;

          padding-top: 28px;
          padding-bottom: 20px;
        }
      }
    }

  }
}

.reviews {

  padding-top: 20px;
  padding-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {
      font-family: variables.$FontFamily;
      font-weight: 500;
      font-size: clamp(1.5rem, 1.385rem + 0.51vw, 2rem);
      line-height: 110%;
      letter-spacing: -0.02em;
      color: variables.$Black;
    }

    & .link {
      display: flex;
      align-items: center;
      gap: 4px;

      & span {
        font-family: variables.$FontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: variables.$Black;

        border-bottom: 1px solid variables.$MediumGrey;

        padding-bottom: 2px;
      }
    }
  }

  &__content {
    position: relative;

    & .reviews__slider-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.4);
      background: #fdfdff;

      z-index: 5;

      &.prev {
        left: -20px;
      }

      &.next {
        right: -20px;
      }

      & svg {
        stroke: #9C0228;

        transition: stroke variables.$time ease;
      }

      &.swiper-button-disabled {
        & svg {
          stroke: #FF9EA3;
        }
      }

    }

    & .reviews__slider {

      & .reviews__card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border: 1px solid variables.$Line;

        border-radius: 12px;

        padding: 20px;

        background-color: #fdfdff;

        &-avatar {
          display: flex;
          gap: 12px;

          & .image {
            width: 48px;
            height: 48px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 4px;
            padding: 14px;

            background-color: variables.$Back;

            & img {
              width: 100%;
              height: 100%;

              display: block;

              object-fit: cover;
            }
          }

          & .info {
            display: flex;
            flex-direction: column;
            gap: 2px;

            & .avatar__name {
              font-family: variables.$FontFamily;
              font-weight: 500;
              font-size: clamp(1.125rem, 1.096rem + 0.13vw, 1.25rem);
              line-height: 120%;
              letter-spacing: -0.02em;
              color: variables.$Black;
            }

            & .avatar__date {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: variables.$MediumGrey;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 4px;

          & .text__wrapper {
            position: relative;

            height: 120px;

            overflow: hidden;

            &::after {
              content: '';

              position: absolute;

              width: 100%;
              height: 100%;

              bottom: 0;
              left: 0;
              right: 0;

              box-shadow: inset 0 -20px 20px -8px #fff;
            }

            & p {
              font-family: variables.$FontFamily;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: variables.$Grey;
            }

            &.active {
              height: auto;
            }
          }

          & .more {
            display: flex;
            align-items: center;
            gap: 4px;

            & span {
              font-family: variables.$FontFamily;
              font-weight: 500;
              font-size: 16px;
              line-height: 110%;
              letter-spacing: -0.02em;
              color: variables.$Black;

              border-bottom: 1px solid variables.$MediumGrey;

              padding-bottom: 2px;
            }
          }
        }

        &-images {
          & .images__slider {
            & .swiper-slide {
              border-radius: 4px;

              width: 100%;
              height: 100px;

              overflow: hidden;

              & .image {
                width: 100%;
                height: 100%;

                & img {
                  width: 100%;
                  height: 100%;

                  display: block;

                  object-fit: cover;
                }
              }
            }
          }
        }

        transition: box-shadow variables.$time ease;

        &:hover {
          box-shadow: 0 0 12px 0 rgba(194, 194, 194, 0.4);

        }
      }
    }
  }
}


