@use 'variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

body {
  font-family: variables.$FontFamily;
  background: #FDFDFF;
}