@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$Logo: #9C0228;
$Grey: #787A7D;
$Black: #2A2A2A;
$LightRed:  #FF9EA3;
$LightGrey: #E7E7EA;
$Back: #F6F6F8;
$White: #FFFFFF;
$MediumGrey: #BDBEC2;
$Green: #7DDDB3;
$Red2: #F22F5F;
$Line: #ECEDF0;
$RedTag: #FFD7D9;
$Footer: #2D2D30;

$MainColorText: #374151;
$SecondColorText: #111827;
$AdditionalColorText: #5065CE;
$FontFamily: 'Roboto', sans-serif;
$time: 0.3s;
